In [2]:
import pandas as pd

In [5]:
students = pd.read_csv("../data/students.csv")
students.head()

  class                             email   name
0  AI23  adam@gmail.com, adam@hotmail.com   adam
1  AI23                   kalle@gmail.com  kalle

In [6]:
autos = pd.read_json("../data/autos.json")
autos.head()

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,...,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,...,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,...,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,...,audi,164.0,four,four,5500.0,13950.0,3.40,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,...,audi,164.0,five,four,5500.0,17450.0,3.40,2,99.4,66.4

In [9]:
import openpyxl
scb = pd.read_excel("../data/scb_pop.xlsx", skiprows=3)
scb.head()

,Unnamed: 0,2022,2021,2020,2019,2018,2017,2016,2015,2014,...,1986,1985,1984,1983,1982,1981,1980,1975,1970,1960
0,FolkmÃ¤ngd 31 december,10521556,10452326,10379295,10327589,10230185,10120242,9995153,9851017,9747355,...,8.381515e+06,8.358139e+06,8.342621e+06,8.330573e+06,8.327484e+06,8.323033e+06,8.317937e+06,8.208442e+06,8.081229e+06,7.497967e+06
1,MÃ¤n,5298324,5260707,5222847,5195814,5142438,5082662,5013347,4930966,4872240,...,4.137513e+06,4.127110e+06,4.120549e+06,4.116137e+06,4.117357e+06,4.118622e+06,4.119822e+06,4.081263e+06,4.035911e+06,3.740119e+06
2,Kvinnor,5223232,5191619,5156448,5131775,5087747,5037580,4981806,4920051,4875115,...,4.244002e+06,4.231029e+06,4.222072e+06,4.214436e+06,4.210127e+06,4.204411e+06,4.198115e+06,4.127179e+06,4.045318e+06,3.757848e+06
3,Antal personer 0-17 Ã¥r,2194785,2198240,2189403,2180508,2155379,2121598,2076407,2025077,1985282,...,1.836443e+06,1.844497e+06,1.865377e+06,1.893161e+06,1.925186e+06,1.956842e+06,1.977226e+06,2.012638e+06,2.007012e+06,2.046306e+06
4,Personer 0-17 Ã¥r i % av hela befolkningen,20.9,21,21.1,21.1,21.1,21,20.8,20.6,20.4,...,2.191063e+01,2.206827e+01,2.235960e+01,2.272546e+01,2.311846e+01,2.351116e+01,2.377063e+01,2.451912e+01,2.483548e+01,2.729148e+01

In [13]:
autos.head(10)
autos.tail()
autos.sample(5)
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,mpfi,gas,55.5,23,134.0,188.8,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,idi,diesel,55.5,27,106.0,188.8,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,mpfi,gas,55.5,25,114.0,188.8,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [12]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)

In [14]:
rows, columns = autos.shape
print(f"Dataframe has {rows} rows, and {columns} columns.")

Dataframe has 205 rows, and 26 columns.

In [16]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [23]:
# Copy dataframe to clipboard then paste it somewhere
autos.to_clipboard()

In [22]:
autos.to_csv("../data/autos.csv")
csv_string = autos.to_csv()
print(csv_string[:1000])

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,mpfi,gas,54.3,30,102.0,176.6,audi,164.0,four,four,5500.0,13950.0,3.4,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,mpfi,gas,54.3,22,115.0,176.6,audi,164.0,five,four,5500.0,17450.0,3.4,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,mpfi,ga